<section class="cover-Page">
      <img src="/assets/pterrydactyl.png" alt="pterrydactyl" class="pterrydactyl p-1">
      <h1 class="myName caveat-font p-1">Juan Orozco</h1>
      <h2 class="myMajor caveat-font">A Computer Engineer</h2>
      <img src="/assets/dino.png" alt="dino" class="dino">
      <img src="/assets/volcano.png" alt="volcano" class="volcano  my-2">
  </section>
  