<%- include('header.ejs') %>
<%- include('cover-page.ejs') %>


<section class="projectPage py-5">
    <h2 class="pt-3 text-center">My Projects</h2>
    <div class="album py-5">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            <div class="col">
              <div class="card shadow-sm">
                <div class= "text-white">
                  <button type="button" class="btn p-0 border-0 " data-bs-toggle="modal" data-bs-target="#friendsofMSFModal">
                    <img class="card-img enhance" src="/assets/friendsofMSF.png" alt="Card image">
                    <div class="card-img-overlay">
                  </div>
                  </button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <div class= "text-white">
                  <button type="button" class="btn p-0 border-0 " data-bs-toggle="modal" data-bs-target="#solderFanModal">
                    <img class="card-img enhance" src="/assets/solderFan.jpg" alt="Card image">
                    <div class="card-img-overlay">
                  </div>
                  </button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <div class= "text-white">
                  <button type="button" class="btn p-0 border-0 " data-bs-toggle="modal" data-bs-target="#pinItModal">
                    <img class="card-img enhance" src="/assets/pinIt.jpg" alt="Card image">
                    <div class="card-img-overlay">
                  </div>
                  </button>
                </div>
              </div>
            </div>
            
            <div class="col">
              <div class="card shadow-sm">
                <div class= "text-white">
                  <button type="button" class="btn p-0 border-0 " data-bs-toggle="modal" data-bs-target="#researchModal">
                    <img class="card-img enhance" src="/assets/URAP.png" alt="Card image">
                    <div class="card-img-overlay">
                  </div>
                  </button>
                </div>
              </div>
            </div>

         <div class="col">
              <div class="card shadow-sm">
                <div class= "text-white">
                  <button type="button" class="btn p-0 border-0 " data-bs-toggle="modal" data-bs-target="#4bitBinaryModal">
                    <img class="card-img enhance" src="/assets/BinaryCounter.png" alt="Card image">
                    <div class="card-img-overlay">
                  </div>
                  </button>
                </div>
              </div>
            </div>
        </div>
      </div>
  </div>

            </div>
      </div>



</section>


<div class="modal fade" id="friendsofMSFModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">About the Friends of MSF Website</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>As Tech Coordinator for Friends of MSF at UTD, I designed and developed a recruitment website using Node.js, HTML,
           CSS, and Bootstrap. This initiative significantly boosted campus presence by providing potential members with an 
           accessible platform to learn about our mission and involvement opportunities. The website was a resounding success, 
           utilized by all club members during recruitment events to effectively share information and engage with students, 
           enhancing overall outreach efforts. You can view the site by clicking the button below !</div>
      <div class="modal-footer">
        <a target="_blank" href="https://www.friendsofmsfatutd.org/">
        <button type="button" class="btn btn-dark">Go To Site</button>
        </a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="solderFanModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">About the solderFan Wiki</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p> The SolderFan Wiki was a hands-on project focused on upcycling and functional design. I repurposed an old desk
           fan into a high-performance solder smoke absorber, a solution that effectively captured fumes and breathed new life 
           into an unused item. This endeavor provided a valuable opportunity to master CAD design using Shapr3D, where I 
           engineered a custom housing specifically for a carbon filter. The project significantly enhanced my understanding of
            product development, iterative design processes, and the efficiency of custom manufacturing partnerships in bringing 
            innovative ideas to fruition. The wiki and 3D model can be viewed using the button below !
        </p>
      </div>
      <div class="modal-footer">
        <a target="_blank" href="https://github.com/dino-cowboy/solderFan/wiki">
        <button type="button" class="btn btn-dark">Go To Wiki</button>
        </a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="pinItModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">About PinIt</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>PinIt is a volunteer opportunity platform developed during HackUTD 2024, focused on integrating the Pinata 
          file API. Our team's initial goal was to create a dual-function website allowing users to search for volunteer 
          opportunities and organizations to post them. While only the frontend of the homepage was completed by the hackathon's 
          end, I've taken on the challenge of implementing the Pinata API into the backend to bring the full vision to life. 
          Clicking the button below will take you to the final result of my group's work and I will be putting in extra work to 
          bring the site to life !   
        </p>
      </div>
      <div class="modal-footer">
        <a target="_blank" href="https://pinit-1r2l.onrender.com/">
        <button type="button" class="btn btn-dark">Go To Site</button>
        </a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="researchModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">About my UT Dallas Undergraduate Research Apprenticeship</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p> As an Undergraduate Research Apprentice at The University of Texas at Dallas (Materials Science Department), 
          I contributed to a project exploring the fundamental effects of changing LED polarity from Ga-polar to N-polar. 
          Our in-depth study analyzed impacts on carrier concentrations, emission spectrum, IV curves, and band diagrams, with 
          the primary goal of identifying performance enhancements in LEDs. This foundational work laid the groundwork for future
           research into photodetector polarity, aspiring to ultimately improve fiber optic cable transmission and receiving speeds.
            I synthesized our findings into a comprehensive research poster, which I presented to university faculty and staff at a 
            symposium. Clicking the button below will take you to my research poster !
          </p>
      </div>
      <div class="modal-footer">
        <a target="_blank" href="https://docs.google.com/presentation/d/1klVbKQ8NuDOBbXgzSuGQMpLj_fTu-kDf/edit?usp=sharing&ouid=101748708824437164568&rtpof=true&sd=true">
        <button type="button" class="btn btn-dark">Go To Poster</button>
        </a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="4bitBinaryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">About the 4-Bit Binary Counter</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p> The 4-Bit Binary Counter was a project from the end of my freshman year. In my Digital Systems class, 
          my lab partner and I were tasked with creating a project of our choice using an Arduino. Since the class 
          heavily focused on binary principles, we decided to build a binary counter. We then designed, prototyped, 
          debugged, and programmed a 4-bit binary counter, presenting it to the entire lab class, our professor, and two
           TAs. Clicking the button below will take you to the TinkerCAD of my lab partner's and my project!
        </p>
      </div>
      <div class="modal-footer">
        <a target="_blank" href="https://www.tinkercad.com/things/6uMHMa9vMiC-0101010101010?sharecode=rbMKvuBuRmFAXrhhoUb1x1g4tWkxBGh8Zn3mZT0lrUg">
        <button type="button" class="btn btn-dark">Go To Tinker CAD</button>
        </a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<%-include('footer.ejs') %>

<script>
  const projectsButton = document.querySelector('.projects');
  const aboutButton = document.querySelector('.about');
  const contactButton = document.querySelector('.contact');
  const bottomSection = document.querySelector('.projectPage'); 
  aboutButton.classList.remove('active');
  projectsButton.classList.add('active');
  contactButton.classList.remove('active');

  bottomSection.scrollIntoView({
  behavior: "smooth", // Optional: Add smooth scrolling
  block: "start" // Optional: Scroll to the top of the element
  });
  
</script>